
.pleca{
    margin: 0 auto;
    width: 85%;
    height: 140px;

}
.pleca img{
    width: 100%;
    height: 100%;
}

.datosPersonales{
    display: flex;
}
.datosPersonales #etiquetas{
    height: 100px;
    position: relative;
    top: 30px;
}
.imgUsuario{
    width: 20%;
    height: 20%;
    margin-right: 30px;
    cursor: pointer;
    position: relative;
    top: -80px;
    left: 5px;
}
.imgUsuario img{
    width: 100%;
    height: 100%;
    border-style: solid; 
    border-color: black;
    border-radius: 15px;
}

.contenedor{
    margin: auto;
    border-radius: 20px;
    width: 880px;
    height:620px;
    text-align: center;
    font-size: 25px;
    border-style: solid; 
    border-color: #990000;
    font-family: fantasy;
}
.mail{
    width: 60%;
    height: 120px;
    text-align: justify;
    position: relative;
    left: 250px;
    top: 30px;
}
#etiquetas{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /*background-color: blue;*/
}

#academicos{
    height: 420px;
}
#medicos{
    height: 300px;
}

#etiquetas{
    font-size: 20px;
}


.divEsp{
    border-color: #990000;
    border-style: solid; 
    position: relative;
    top: 100px;
    left: 20px;
    width: 220px;
    height: 120px;
    font-size: 22px;
    border-radius: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.esp{
    position: relative;
    font: 20px;
    left: 270px;
    text-align: left;
    border-spacing: 40px 40px;
    top: -115px;
}


