.galeria_fotos{

    text-align: center;
}
body{
    min-height: 100vh;
}

/******************************** SLIDER 1 ********************************/

.slider{
    margin: auto;
    position: relative;
    top: 20px;
    list-style: none;
    padding: 0px;
    display: flex;
    right: 125px;
    
}

.slider img{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 130%;
    height: 100%;
    opacity: 0;
    transition: all 0.7s;
    border-radius: 15px;
}


.slider input[type="radio"]{
    position: relative;
    z-index: 50;
    left: 30px;
    cursor: pointer;

}

.slider input[type="radio"]:checked ~ img{
    opacity: 1;
}

/******************************** SLIDER 2 ********************************/

.slider2{
    margin: auto;
    position: relative;
    top: 20px;
    list-style: none;
    padding: 0px;
    display: flex;
    right: 100px;
    width: 100%;
    height: 250px;
    
}

.slider2 img{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 143%;
    height: 100%;
    opacity: 0;
    transition: all 0.7s;
    border-radius: 15px;
}


.slider2 input[type="radio"]{
    position: relative;
    z-index: 50;
    left: 70px;
    cursor: pointer;
    margin: 50px;
}

.slider2 input[type="radio"]:checked ~ img{
    opacity: 1;
}
/******************************** SLIDER 3 ********************************/

.slider2{
    margin: auto;
    position: relative;
    top: 20px;
    list-style: none;
    padding: 0px;
    display: flex;
    right: 157px;
    width: 100%;
    height: 250px;
    
}

.slider2 img{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 143%;
    height: 100%;
    opacity: 0;
    transition: all 0.7s;
    border-radius: 15px;
}


.slider2 input[type="radio"]{
    position: relative;
    z-index: 50;
    left: 70px;
    cursor: pointer;
    margin: 30px;
    padding: 0 auto;

}

.slider2 input[type="radio"]:checked ~ img{
    opacity: 1;
}




/*********************************/
.fotos_padre{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;
    position: relative;
}

.fotos_hijo{
    display: flex;
    width: 500px;
    height: 300px;
    margin: 50px;
    text-align: center;
    font-size: 25px;
    font-family: fantasy;
    border-color: black;
    border-radius: 10px;
}

.fotos_hijo p{
    position: relative;
    width: 234px;
    height: 30px;
    margin: 10px;
    font-style: none;
    color: black;
    /*background-color: blue;*/
}
.fotos_hijo a{
    text-decoration: none;
}
.fotos_hijo p:hover{
    color: brown;
}