*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
/*********************** Estilos de Menu ***********************/
.contenedor{
    top: 0px;
    background-color: rgba(128, 128, 128,.2);
    font-family: fantasy;
    justify-content: 10px;
    position: sticky;
    height: 50px;
    width: 100%;
}
.menu li{
    display: inline-flex;
    font-size: 28px;
    letter-spacing: 2px;
    position: relative;
    top: 7px;
    padding-left: 15%;
}

.menu a{
    text-decoration: none;
    color:#000066f8;
}
.menu a:hover{
    color: black;
}



/********************* ESTILOS DEL BANNER *********************/



.contenedor_banner {
    position: relative;
    top: -00px;
    text-align: center;
    max-width: 100%;
    
}

.banner__titulo{
    color: #000066;
    font-family: fantasy;
    font-size: 60px;
    letter-spacing: 2px;
    position: relative;
    top: -73px;
}
