html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
    
    z-index: -1000;
}

/*********************** ESTILOS DEL CUERPO (index) ***********************/
.lema{
    background-color: darkred;
    font-size: 50px;
    text-align: center;
    position: relative;
    top: -30px;
    font-family: fantasy;
    letter-spacing: 1.5px;
    color: white;
    z-index: -1000;
}

.contenedor2{
    
    display: -webkit-flex;
    display: inline-flex;
    z-index: -1000;
    height: 100%;
}



/************************* COLUMNA DE LA IZQUIERDA *************************/

.column{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 1100px;
    position: relative;
    left: 25px;
    padding: 10px;
    margin: 20px;
    z-index: -1000;
}
.column img{
    width: 100%;
    height:300px;
    position: relative;
    top: 80px;
    margin: 0px auto;
}
.column img:hover{
    width: 100%;
    height: 250px;
}
video{
    position: relative;
    width: 100%;
    padding: 0%;
}

.slider{
    top: 50px;
    width: 100%;
    height: 250px;
    margin: auto;
}
.slider ul{
    padding: 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.slider li{
    width: 100%;
    list-style: none;
    margin: 15px;
}
.slider img{
    width: 90%;
    top: 0;
    height: 200px;
}
/************************* COLUMNA DE LA DERECHA *************************/
.column2{

    display: -webkit-flex;
    display: inline-flex;
    width: 60%;
    height: 100%;
    position: relative;
    left: 25px;
    z-index: -1000;
    top: 19px;
}
.titulo_semblanza{
    font-size: 40px;
    position: relative;
    /*left: 270px;*/
    font-family: fantasy;
    padding: 11px;
    width: 100%;
    height: 70px;
}


.txt_semblanza{
    position: relative;
    top: 90px;
    right: 170px;
    font-size: 20px;
    width: 120%;
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.list_year{
    position: relative;
    top: 0px;
    right: 120px;
    width: 80%;
    font-size: 17px;
}
.list_year2{

    position: relative;
    top: 0px;
    right: 60px;
    width: 70%;
    font-size: 17px;
}
.lugares{
    display: -webkit-flex;
    display: inline-flex;
    position: relative;
    top: 120px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.video_YT{
    position: relative;
    width: 120%;
    right: 170px;
    top: 130px;
}
.video_YT iframe{
    padding: 15px;
    position: relative;
    width: 100%; 
    height: 315px;
}

.txt_semblanza2{
    position: relative;
    top: 150px;
    right: 170px;
    font-size: 20px;
    width: 120%;
    /*height: 100%;*/
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.video_YT2{
    position: relative;
    width: 120%;
    right: 170px;
    top: 170px;
}
.video_YT2 iframe{
    padding: 15px;
    position: relative;
    height: 315px;
    width: 100%;
}

.txt_semblanza3{
    position: relative;
    top: 180px;
    right: 170px;
    font-size: 20px;
    width: 120%;
    /*height: 100%;*/
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.imagen{
    margin: 0px auto;
    width: 120%;
    height: 250px;
    background-color: #990000;
    position: relative;
    right: 160px;
    top: 190px;
    border-radius: 5px;
}
.imagen img{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border-radius: 5px;
    
}